/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#fondo{
	-fx-background-image: url("../vista/assets/freesolo.png");
	-fx-background-size: 50%;
	-fx-background-repeat: no-repeat ;
	
}