/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#fondo{
	-fx-background-image: url("../vista/assets/freesolo.png");
	-fx-background-size: 50%;
	-fx-background-repeat: no-repeat ;
	
}
#MensajePantalla{
	-fx-background-color: #795548;
}
#started:hover{
	-fx-cursor: hand;
}
#logo{
	-fx-background-image: url("../vista/assets/jm.png");
	-fx-background-size: 50%;
	-fx-background-repeat: no-repeat ;
	
}